# data wrangling for SAS anlysis

In [6]:
import pandas as pd
import numpy as np

In [18]:
def create_incidence_columns(df):
    df['Mi_i'] = np.where((df.Incognita > 0)&(df.Arenaria == 0)&(df.Javanica == 0), 1, 0)
    df['Ma_i'] = np.where((df.Incognita == 0)&(df.Arenaria > 0)&(df.Javanica == 0), 1, 0)
    df['Mj_i'] = np.where((df.Incognita == 0)&(df.Arenaria == 0)&(df.Javanica > 0), 1, 0)

    df['MiMa_i'] = np.where((df.Incognita > 0)&(df.Arenaria > 0)&(df.Javanica == 0), 1, 0)
    df['MiMj_i'] = np.where((df.Incognita > 0)&(df.Arenaria == 0)&(df.Javanica > 0), 1, 0)
    df['MaMj_i'] = np.where((df.Incognita == 0)&(df.Arenaria > 0)&(df.Javanica > 0), 1, 0)

    df['MiMaMj_i'] = np.where((df.Incognita > 0)&(df.Arenaria > 0)&(df.Javanica > 0), 1, 0)
    return df

In [19]:
def create_abundance_columns(df):
    df['Mi_a'] = np.where((df.Incognita > 0)&(df.Arenaria == 0)&(df.Javanica == 0), df.RKN, 0)
    df['Ma_a'] = np.where((df.Incognita == 0)&(df.Arenaria > 0)&(df.Javanica == 0), df.RKN, 0)
    df['Mj_a'] = np.where((df.Incognita == 0)&(df.Arenaria == 0)&(df.Javanica > 0), df.RKN, 0)

    df['MiMa_a'] = np.where((df.Incognita > 0)&(df.Arenaria > 0)&(df.Javanica == 0), df.RKN, 0)
    df['MiMj_a'] = np.where((df.Incognita > 0)&(df.Arenaria == 0)&(df.Javanica > 0), df.RKN, 0)
    df['MaMj_a'] = np.where((df.Incognita == 0)&(df.Arenaria > 0)&(df.Javanica > 0), df.RKN, 0)

    df['MiMaMj_a'] = np.where((df.Incognita > 0)&(df.Arenaria > 0)&(df.Javanica > 0), df.RKN, 0)
    return df

In [21]:
df = pd.read_excel('FOR_CHART_updated_latest.xlsx')
df = df.fillna(0)
df = create_incidence_columns(df)
df = create_abundance_columns(df)
df.to_excel('survey_data_for_sas.xlsx')
df

,County,Sample_code,Field_name,Date,Current_crop,Latitude,Longitude,RKN,Incognita,Arenaria,...,MiMj_i,MaMj_i,MiMaMj_i,Mi_a,Ma_a,Mj_a,MiMa_a,MiMj_a,MaMj_a,MiMaMj_a
0,Appling,AP1,Miles Berry Farm,0,Squash,31.49.38,-82.21.28,435,3.0,0.0,...,0,0,0,435,0,0,0,0,0,0
1,Appling,AP2,Miles Berry Farm,0,Okra,31.44.46,-82.26.17,568,3.0,0.0,...,0,0,0,568,0,0,0,0,0,0
2,Appling,AP4,Miles Berry farm - field 5A,0,Cabbage,31.745473,-82.439251,1,3.0,0.0,...,0,0,0,1,0,0,0,0,0,0
3,Appling,AP7,Scott Britt,0,Corn,?,0,34,3.0,0.0,...,0,0,0,34,0,0,0,0,0,0
4,Brooks,B1,P&P Price,2019-11-11 00:00:00,Cucumber,"30°49'55.4""N","83°45'17.4""W",38,1.0,0.0,...,0,0,0,38,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,Wilcox,WI1,?,2020-09-08 00:00:00,Sweet Potato,?,0,4,3.0,0.0,...,0,0,0,4,0,0,0,0,0,0
107,Wilcox,WI2,?,2020-09-08 00:00:00,Sweet Potato,?,0,1,3.0,0.0,...,0,0,0,1,0,0,0,0,0,0
108,Worth,WO1,T&T Sumner,2019-11-18 00:00:00,Peanut,31.518960,-83.716402,1392,1.0,0.0,...,0,0,0,1392,0,0,0,0,0,0
109,Worth,WO3,Chance Mitchell,2019-11-18 00:00:00,Cotton,31.80000,-83.747220,38,2.0,1.0,...,0,0,0,0,0,0,38,0,0,0
110,Worth,WO5,?,2020-07-06 00:00:00,Watermelon,?,0,34,1.0,0.0,...,0,0,0,34,0,0,0,0,0,0

In [22]:
for c in df.columns:
    print(c)

County
Sample_code
Field_name
Date
Current_crop
Latitude
Longitude
RKN
Incognita
Arenaria
Javanica
Not_identified
Mi
Ma
Mj
MiMa
MiMj
MaMj
MiMaMj
Mi_i
Ma_i
Mj_i
MiMa_i
MiMj_i
MaMj_i
MiMaMj_i
Mi_a
Ma_a
Mj_a
MiMa_a
MiMj_a
MaMj_a
MiMaMj_a